.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navTab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(108, 99, 255, 1);
    border-radius: 5px;
    width: 595px;
    height: 38px;   
}

.searchTab{
    border: none;
    width: 595px;
    padding: 8px 16px;
    font-size: 16px;
}

.searchTab:focus-visible{
    outline: none;
    border-radius: 50%;
}


.searchIcon{
    color: rgba(108, 99, 255, 1);
    height: 24px;
    width: 24px;
    margin-right: 20px;
}

.dropDown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.dropDown{
    width: 93px;
    height: 38px;
    border: none;
    background-color: rgba(108, 99, 255, 1);
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

.optionTab{
    background-color: white;
    color: black;
    font-size: small;
}

.data-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 520px;
    margin-top: 30px;
}

.checkBox{
   display: flex;
   justify-content: start;
   height: 43px;
   width: 520px;
   border-bottom: 1px solid rgba(108, 99, 255, 1);
}

.content-detail{
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 420px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.inputCheckbox{
    height: 26px;
    width: 26px;
}

.button{
    position: relative;
    top: 250px;
    left: 400px;
}

.Add-task{
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%;
    background: rgba(108, 99, 255, 1);
    border: none;
    color: white;
}

#edit{
    position: relative;
    left: 35px;
    width: 62px;
    height: 18px;
    opacity: 30%;
    display: flex;
    justify-content: space-between;
}

