.PopUp-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: auto;
    width: 500px;
    inset-inline-start: 33%;
    inset-block-start: 18%;
    background-color: white;
    opacity: 100%;
    box-shadow: 0px 2px 100px 1300px rgba(75, 75, 75, 0.474);
    visibility: visible;
    border-radius: 16px;
    padding: 30px;
    z-index: 1;
}

#PopUp-EditContainer{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: auto;
    width: 500px;
    inset-inline-start: 33%;
    inset-block-start: 18%;
    background-color: white;
    opacity: 100%;
    box-shadow: 0px 2px 100px 1300px rgba(75, 75, 75, 0.474);
    visibility: visible;
    border-radius: 16px;
    padding: 30px;
    z-index: 1;
}

.PopUp-heading{
    font-size: 24px;
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.PopUp-inputTask{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 440px;
    border: 2px solid rgba(108, 99, 255, 1);
}

.PopUp-inputTask > input{
    width: 435px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
        
}

.PopUp-inputTask > input:focus-visible{
    outline: none;
}

.buttonArea{
    position: relative;
    gap: 160px;
    margin-top: 128px;
    margin-bottom: 18px;
    width: 440px;
    display: flex;
    justify-content: space-evenly;
}

#button{
    height: 38px;
    width: 110px;
    border: 2px solid rgba(108, 99, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.2px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}



.cancel{
    color: rgba(108, 99, 255, 1);
    background-color: white;
}

.cancel:hover{
    background-color: rgb(78, 78, 78);
    color: white;
}

.apply{
    background-color: rgba(108, 99, 255, 1);
    color: white;
}

.apply:hover{
    background-color: rgb(59, 56, 128);;
}

.edit{
    background-color: rgba(108, 99, 255, 1);
    color: white;
}

.edit:hover{
    background-color: rgb(59, 56, 128);;
}

.editButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    height: 20px;
    width: 20px;
    background: #3b3b3b;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.buttonDelete{
    cursor: pointer;
    background: #3b3b3b;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
}