.AppMain{
  height: 100vh;
  width: 96vw;
}

.NavBar{
  position: relative;
  gap: 50px;
  left: 35%;
  top: 60px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 500px;
}

.searchInput{
  height: 20px;
  padding: 10px;
  width: 350px;
  border-radius: 6px;
  font-size: large;
}

.addNoteButton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #3b3b3b;
  width: 100px;
  font-size: large;
}

.displaySection{
  display: flex;
  position: relative;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}

.showPopUp{
  display: flex;
}

.hidePopup{
  display: none;
}
